/* 基础样式 */

html {
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    min-height: 20rem;
    overflow-x: hidden;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #ebedee;
    letter-spacing: 1px;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    color: #14c189;
    text-decoration: none;
    outline: 0;
}

body {
    background-color: #e3f2ea;
}

.content {
    padding: 1.3rem;
}

.content_bg {
    background-image: url('./..//img/present/bg_top.png'), url('./../img/present/bg_bottom.png');
    background-size: 100%;
    /* background-position: left top, right bottom; */
    background-position: top, bottom;
    background-repeat: no-repeat;
}